{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "FireStock API",
    "description": "The official FireStock API docs"
  },
  "host": "europe-west1-firestock-cloud.cloudfunctions.net/api",
  "basePath": "/v1",
  "tags": [ 
    { 
      "name": "Authentification", 
      "description": "Création de compte, connexion, récupération ..."
    } 
  ],
  "schemes": ["https"],
  "paths": { 
    "/auth/register": { 
      "post": { 
        "tags": ["Authentification"], 
        "summary": "Créer un nouveau compte",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Register" },
            "description": "Paramètres de création d'un nouvel utilisateur"
          }
        ],
        "responses": { 
          "200": { 
            "description": "Utilisateur créé avec succès !"
          },
          "400": { 
            "description": "Erreur lors de la création de l'utilisateur !"
          } 
        } 
      } 
    },
    "/auth/login": { 
      "post": { 
        "tags": ["Authentification"], 
        "summary": "Connecter un utilisateur",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Login" },
            "description": "Paramètres de connexion d'un utilisateur"
          }
        ],
        "responses": { 
          "200": { 
            "description": "Renvoi le token de session"
          },
          "400": { 
            "description": "Erreur lors de la connexion de l'utilisateur !"
          } 
        } 
      } 
    },
    "/auth/recovery": { 
      "post": { 
        "tags": ["Authentification"], 
        "summary": "Réinitialiser le mot de passe",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Recovery" },
            "description": "Paramètres de récupération d'un utilisateur"
          }
        ],
        "responses": { 
          "200": { 
            "description": "Email de récupération envoyé avec succès !"
          },
          "400": { 
            "description": "Erreur lors de la récupération du compte !"
          } 
        } 
      } 
    },
    "/auth/refresh": { 
      "post": { 
        "tags": ["Authentification"], 
        "summary": "Rafraîchir le token de session",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Refresh" },
            "description": "Paramètres de rafraîchissement d'un token"
          }
        ],
        "responses": { 
          "200": { 
            "description": "Nouveau token généré avec succès !"
          },
          "400": { 
            "description": "Erreur lors du rafraîchissement du token !"
          } 
        } 
      } 
    }
  },
  "securityDefinitions": {
    "token": {
      "type": "apiKey",
      "name": "token",
      "in": "header"
    }
  },
  "definitions": {
    "Register": {
      "required": ["email", "password", "pseudo", "firstname", "lastname", "phone"],
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "pseudo": {
          "type": "string"
        },
        "firstname": {
          "type": "string"
        },
        "lastname": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "picture": {
          "type": "string"
        }
      }
    },
    "Login": {
      "required": ["pseudo", "password"],
      "properties": {
        "pseudo": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "Recovery": {
      "required": ["pseudo"],
      "properties": {
        "pseudo": {
          "type": "string"
        }
      }
    },
    "Refresh": {
      "required": ["refreshToken"],
      "properties": {
        "refreshToken": {
          "type": "string"
        }
      }
    }
  }
}
