{
  "swagger": "2.0",
  "info": {
    "version": "1.0.0",
    "title": "FireStock API",
    "description": "The official FireStock API docs"
  },
  "host": "europe-west1-firestock-cloud.cloudfunctions.net/api",
  "basePath": "/v1",
  "tags": [ 
    { 
      "name": "Authentification", 
      "description": "Création de compte, connexion, récupération ..."
    },
    { 
      "name": "Utilisateur", 
      "description": "Gestion des utilisateurs"
    },
    {
      "name": "Bucket", 
      "description": "Lister, uploader, télécharger et supprimer des fichiers"
    }
  ],
  "schemes": ["https"],
  "paths": { 
    "/auth/register": { 
      "post": { 
        "tags": ["Authentification"], 
        "summary": "Créer un nouveau compte",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Register" },
            "description": "Paramètres de création d'un nouvel utilisateur"
          }
        ],
        "responses": { 
          "200": { 
            "description": "Utilisateur créé avec succès !"
          },
          "400": { 
            "description": "Erreur lors de la création de l'utilisateur !"
          } 
        } 
      } 
    },
    "/auth/login": { 
      "post": { 
        "tags": ["Authentification"], 
        "summary": "Connecter un utilisateur",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Login" },
            "description": "Paramètres de connexion d'un utilisateur"
          }
        ],
        "responses": { 
          "200": { 
            "description": "Renvoi le token de session"
          },
          "400": { 
            "description": "Erreur lors de la connexion de l'utilisateur !"
          } 
        } 
      } 
    },
    "/auth/recovery": { 
      "post": { 
        "tags": ["Authentification"], 
        "summary": "Réinitialiser le mot de passe",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Recovery" },
            "description": "Paramètres de récupération d'un utilisateur"
          }
        ],
        "responses": { 
          "200": { 
            "description": "Email de récupération envoyé avec succès !"
          },
          "400": { 
            "description": "Erreur lors de la récupération du compte !"
          } 
        } 
      } 
    },
    "/auth/refresh": { 
      "post": { 
        "tags": ["Authentification"], 
        "summary": "Rafraîchir le token de session",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Refresh" },
            "description": "Paramètres de rafraîchissement d'un token"
          }
        ],
        "responses": { 
          "200": { 
            "description": "Nouveau token généré avec succès !"
          },
          "400": { 
            "description": "Erreur lors du rafraîchissement du token !"
          } 
        } 
      } 
    },
    "/auth/logout": { 
      "get": { 
        "tags": ["Authentification"], 
        "summary": "Déconnecter l'utilisateur",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": { 
          "200": { 
            "description": "Utilisateur déconnecté avec succès !"
          },
          "400": { 
            "description": "Erreur lors de l'invalidation des tokens !"
          } 
        } 
      } 
    },
    "/user/infos": { 
      "get": { 
        "tags": ["Utilisateur"], 
        "summary": "Récupérer les informations de l'utilisateur",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": { 
          "200": { 
            "description": "Informations de l'utilisateur récupérées avec succès !"
          },
          "400": { 
            "description": "Erreur lors de la récupération des informations de l'utilisateur !"
          } 
        }
      } 
    },
    "/bucket/data": { 
      "get": { 
        "tags": ["Bucket"], 
        "summary": "Récupérer les données de l'utilisateur",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Chemin du dossier à récupérer"
          }
        ],
        "responses": { 
          "200": { 
            "description": "Données récupérées avec succès !"
          },
          "400": { 
            "description": "Erreur lors de la récupération des données !"
          } 
        } 
      } 
    },
    "/bucket/download": { 
      "get": { 
        "tags": ["Bucket"], 
        "summary": "Télécharger une donnée",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "path",
            "in": "query",
            "required": true,
            "schema": { "type": "string" },
            "description": "Chemin du fichier à télécharger"
          }
        ],
        "responses": { 
          "200": { 
            "description": "Lien de téléchargement récupéré avec succès !"
          },
          "400": { 
            "description": "Erreur lors de la récupération du lien !"
          } 
        } 
      } 
    },
    "/bucket/storage": { 
      "get": { 
        "tags": ["Bucket"], 
        "summary": "Récupérer le quota de stockage de l'utilisateur",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "responses": { 
          "200": { 
            "description": "Quota de stockage récupéré avec succès !"
          },
          "400": { 
            "description": "Erreur lors de la récupération du quota !"
          } 
        }
      } 
    },
    "/bucket/upload": { 
      "post": { 
        "tags": ["Bucket"], 
        "summary": "Uploader une donnée",
        "consumes": ["multipart/form-data"],
        "produces": ["application/json"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": { "$ref": "#/definitions/Upload" }
            }
          }
        },
        "responses": { 
          "200": { 
            "description": "Fichier uploadé avec succès !"
          },
          "400": { 
            "description": "Erreur lors de l'upload du fichier !"
          } 
        } 
      } 
    },
    "/bucket/folder": { 
      "post": { 
        "tags": ["Bucket"], 
        "summary": "Créer un dossier",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Folder" },
            "description": "Paramètres de création d'un dossier"
          }
        ],
        "responses": { 
          "200": { 
            "description": "Dossier créé avec succès !"
          },
          "400": { 
            "description": "Erreur lors de la création du dossier !"
          } 
        } 
      } 
    },
    "/bucket/rename": { 
      "put": { 
        "tags": ["Bucket"], 
        "summary": "Renommer une donnée",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Rename" },
            "description": "Paramètres de renommage de la donnée"
          }
        ],
        "responses": { 
          "200": { 
            "description": "Donnée renommée avec succès !"
          },
          "400": { 
            "description": "Erreur lors du renommage de la donnée !"
          } 
        } 
      } 
    },
    "/bucket/move": { 
      "put": { 
        "tags": ["Bucket"], 
        "summary": "Déplacer une donnée",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Move" },
            "description": "Paramètres de déplacement de la donnée"
          }
        ],
        "responses": { 
          "200": { 
            "description": "Donnée déplacée avec succès !"
          },
          "400": { 
            "description": "Erreur lors du déplacement de la donnée !"
          } 
        } 
      } 
    },
    "/bucket/copy": { 
      "put": { 
        "tags": ["Bucket"], 
        "summary": "Copier une donnée",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Copy" },
            "description": "Paramètres de copie de la donnée"
          }
        ],
        "responses": { 
          "200": { 
            "description": "Donnée copiée avec succès !"
          },
          "400": { 
            "description": "Erreur lors de la copie de la donnée !"
          } 
        } 
      } 
    },
    "/bucket/delete": { 
      "delete": { 
        "tags": ["Bucket"], 
        "summary": "Supprimer une donnée",
        "consumes": ["application/json"],
        "produces": ["application/json"],
        "security": [
          {
            "Bearer": []
          }
        ],
        "parameters": [
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": { "$ref": "#/definitions/Delete" },
            "description": "Paramètres de suppression de la donnée"
          }
        ],
        "responses": { 
          "200": { 
            "description": "Donnée supprimée avec succès !"
          },
          "400": { 
            "description": "Erreur lors de la suppression de la donnée !"
          } 
        } 
      } 
    }
  },
  "securityDefinitions": {
    "Bearer": {
      "type": "apiKey",
      "name": "Authorization",
      "in": "header"
    }
  },
  "definitions": {
    "Register": {
      "required": ["email", "password", "pseudo", "firstname", "lastname", "phone"],
      "properties": {
        "email": {
          "type": "string"
        },
        "password": {
          "type": "string"
        },
        "pseudo": {
          "type": "string"
        },
        "firstname": {
          "type": "string"
        },
        "lastname": {
          "type": "string"
        },
        "phone": {
          "type": "string"
        },
        "picture": {
          "type": "string"
        }
      }
    },
    "Login": {
      "required": ["pseudo", "password"],
      "properties": {
        "pseudo": {
          "type": "string"
        },
        "password": {
          "type": "string"
        }
      }
    },
    "Recovery": {
      "required": ["pseudo"],
      "properties": {
        "pseudo": {
          "type": "string"
        }
      }
    },
    "Refresh": {
      "required": ["refreshToken"],
      "properties": {
        "refreshToken": {
          "type": "string"
        }
      }
    },
    "Upload": {
      "required": ["file", "path"],
      "properties": {
        "file": {
          "type": "string",
          "format": "binary"
        },
        "path": {
          "type": "string"
        }
      }
    },
    "Folder": {
      "required": ["path", "name"],
      "properties": {
        "path": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Rename": {
      "required": ["path", "file", "name"],
      "properties": {
        "path": {
          "type": "string"
        },
        "file": {
          "type": "string"
        },
        "name": {
          "type": "string"
        }
      }
    },
    "Move": {
      "required": ["filePath", "destPath"],
      "properties": {
        "filePath": {
          "type": "string"
        },
        "destPath": {
          "type": "string"
        }
      }
    },
    "Copy": {
      "required": ["filePath", "destPath"],
      "properties": {
        "filePath": {
          "type": "string"
        },
        "destPath": {
          "type": "string"
        }
      }
    },
    "Delete": {
      "required": ["filePath"],
      "properties": {
        "filePath": {
          "type": "string"
        }
      }
    }
  }
}
